:root {
  --header-color: rgb(53, 53, 52);
  --content-color: rgb(46, 46, 45);
  --text-color: rgb(247, 244, 240);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 212, 183);
}

#header {
  display: flex;
  padding-bottom: 5px;
  height: 180px;
  width: 100%;
  background-color: var(--header-color);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

#header h1 {
  position: relative;
  font-size: 3.5rem;
  top: 5px;
}

#content {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-color: var(--content-color);
  color: var(--text-color);
}

p {
  padding: 0px;
  margin: 7px 0px;
}

button:disabled {
  background-color: darkred;
  color: white;
}
