:root {
  --header-color: rgb(53, 53, 52);
  --content-color: rgb(46, 46, 45);
  --text-color: rgb(247, 244, 240);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content-color);
}

#header {
  display: flex;
  padding-bottom: 5px;
  height: 140px;
  width: 100%;
  background-color: var(--header-color);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

#header h1 {
  position: relative;
  font-size: 3rem;
  top: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-color: var(--content-color);
  color: var(--text-color);
}

#search-div p {
  padding: 0px;
  margin: 7px 0px;
}

#result-div {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* padding-top: 30px; */
  /* gap:18px */
}

#result-loading {
  position: absolute;
  display: flex;
  background-color: var(--content-color);
  flex: 1;
  top:0;
  height: 600px;
  width: 450px;
  align-items: center;
  justify-content: center;
  transform-origin: 0 100%;
  transition: transform .7s;
  transform: scaleY(1);
}

#result-loading.hide {
  transform: scaleY(0);
}


#weather-details {
  font-size: 1rem;
  display: grid;
  min-width: 205px;
  grid-template-columns: 100px 200px;
  gap: 10px;
  background-color: var(--header-color);
  border-radius: 15px;
  padding: 10px;
}

#weather-details p {
  margin: 0;
}

#weather-details p:nth-of-type(2n) {
  justify-self: end;
}

img {
  margin-top: 20px;
  max-height: 300px;
}

button:disabled {
  background-color: darkred;
  color: white;
}
